<ol class="breadcrumb">
	<li><a routerLink="/">Home</a></li>
	<li><a routerLink="/news">Daftar Berita</a></li>
	<li class="active">Ubah Berita</li>
</ol>

<div *ngIf="initDatas.errorLoad" class="text-center center-block">
	<p class="text-error">Gagal Memuat Data..</p>
	<button (click)="getNews()" type="button" class="btn btn-default">Refresh Ulang <i class="fa fa-refresh" aria-hidden="true"></i></button>
</div>

<div class="row" *ngIf="news">
    <form method="POST" class="operator-form" action="" accept-charset="UTF-8" role="form">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="box-title">Data Isi Berita</h3>
            <div *ngIf="initDatas.errorMessages.length" class="alert alert-danger">
                <strong>Error!</strong>
                <ul>
                    <li *ngFor="let errorMessage of initDatas.errorMessages">
                        {{ errorMessage }}
                    </li>
                </ul>
            </div>
            <div *ngIf="initDatas.successMessage" class="alert alert-success">
                <strong>Sukses!</strong> Berita berhasil diubah
            </div>

            <!--button id="aturan-penulisan" type="button" class="btn btn-primary" (click)="writingRoleModal.show()">Aturan Penulisan</button-->
            <div class="form-group">
                <label>Tanggal Berita <strong class="required">*</strong></label>
                <div class="input-group col-md-3">
                    <input class="form-control" placeholder="Dari Tanggal" ngx-mydatepicker name="news_date"
                            [(ngModel)]="news.news_date" [options]="myDatePickerOptions" #dp1="ngx-mydatepicker"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="dp1.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Waktu Berita <strong class="required">*</strong></label>
                <div class="input-group col-md-3">
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="news.news_time" name="news_time" [textMask]="{mask: mask}" required>
                </div>
            </div>
            <!-- <div class="form-group">
                <label>Munculkan Data Penulis & Editor ?</label>
                <div class="pull-right">
                    <ui-switch [(ngModel)]="news.show_writer_data" name="show_writer_data" ></ui-switch>
                </div>
            </div> -->
            <!--div class="form-group">
                <label>Kontributor Berita</label>
                <ng-select
                    [options]="initDatas.contributor_ids"
                    name="contributor_id"
                    notFoundMsg="Tidak Ditemukan"
                    [(ngModel)]="news.contributor_id">
                </ng-select>
            </div-->
            <div class="form-group">
                <label>Kategori Berita <strong class="required">*</strong></label>
                <ng-select
                    [options]="initDatas.newscategory_ids"
                    name="newscategory_id"
                    required
                    [(ngModel)]="news.newscategory_id">
                </ng-select>
            </div>
            <div class="form-group">
                <label>Judul Berita <strong class="required">*</strong></label>
                <input type="text" class="form-control" [(ngModel)]="news.title" name="title" required >
            </div>
            <div class="form-group">
                <label>Sub Judul Berita</label>
                <input type="text" class="form-control" [(ngModel)]="news.subheader" name="subheader"  >
            </div>

            <!-- <div class="form-group">
                <label>Tag Berita</label>
                <p class="help-block">Untuk Kategori Berita Koran Tag Jangan Diisi</p>
                <tag-input [(ngModel)]="news.tags"
                        name="tags"
                        [placeholder]="'Ketik disini'"
                       [secondaryPlaceholder]="'Cari Tag'"
                        [onlyFromAutocomplete]="true">
                    <tag-input-dropdown [autocompleteObservable]="requestTagItems">
                        <ng-template let-item="item" let-index="index">
                            {{ item.display }}
                        </ng-template>
                    </tag-input-dropdown>
                </tag-input>
            </div> -->
            <div class="form-group">
                <label>Isi Berita</label>
                <CKEDITOR [id]="'news.content'" [value]="news.content" (onChange)="onChangeContent($event)" [type]="'simple'"></CKEDITOR>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <hr/>
            <h3 class="box-title">Foto Berita</h3>
            <p class="help-block">Ukuran 715 px x 450 px,Gambar Tidak Boleh Melebihi 90 Kb.</p>
            <input type="file" ng2FileSelect [uploader]="uploader" multiple  />
            <p class="help-block">Dapat memilih file lebih dari satu</p>

            <!-- jika sukses di upload hilang dari list dibawah dan muncul di urutan terbawa daftar gambar -->
            <ul class="uploader-errors" *ngIf="initDatas.uploader_errors.length">
                <li *ngFor="let uploader_error of initDatas.uploader_errors">
                    {{ uploader_error }}
                </li>
            </ul>
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td >
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()" [disabled]="item.isUploading || item.isSuccess" >
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- <div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div> -->

            <h3 class="box-title">Foto Berita Terupload</h3>
            <ul class="list-images list-inline row">
                <li *ngFor="let image of news.images ; let i = index">
                    <div class="col-md-12">
                        <h3>Gambar Berita {{ i+1 }}</h3>
                        <p *ngIf="image.id === null" class="help-block"><strong>Gambar belum disimpan ke berita.</strong></p>
                    </div>
                    <div class="col-md-3">
                        <img src="{{image.small_url}}" class="img-responsive" />
                        <div class="clearfix"></div>
                        <button type="button" class="btn btn-danger btn-s"
                                (click)="deleteNewsImage(image)" >
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Hapus Gambar
                        </button>
                    
                        <div class="clearfix"></div>
                        <br/>

                        <button type="button" class="btn btn-s"
                                (click)="selectACover(image)" [ngClass]="buttonImageClass(image.cover)" >
                            <i *ngIf="!image.cover" class="fa fa-picture-o" aria-hidden="true"></i><i *ngIf="image.cover" class="fa fa-check" cover-hidden="true"></i> Set Cover
                        </button>
                    </div>
                    <div class="col-md-9">
                        <CKEDITOR [id]="'image.image_captions.'+image.file_name" [value]="image.image_caption" (onChange)="onChangeImageContent($event, image)" [type]="'small'"></CKEDITOR>
                    </div>
                </li>
            </ul>
            <div class="form-group hide">
                <label>Status Berita <strong class="required">*</strong></label>
                <select class="form-control" name="status" [(ngModel)]="news.status" required>
                    <option value="1"  >Publis Berita</option>
                    <option value="2"  >Tunda Berita</option>
                    <option value="3"  >Tolak Berita</option>
                </select>
            </div>
            <div class="form-group hide">
                <label>Tipe Berita</label>
                <input class="form-control" type="text" value="{{this.newsService.getNewsTypeText(news.news_type)}}" disabled />
            </div>
            <button *ngIf="domService.savingData" disabled type="button" class="btn btn-lg btn-default pull-right"><i class="fa fa-spinner fa-spin fa-fw"></i> Menyimpan</button>
            <button *ngIf="!domService.savingData" [disabled]="domService.savingData" (click)="updateNews()" type="button" class="btn btn-lg btn-default pull-right"><i class="fa fa-book" aria-hidden="true"></i> Simpan</button>
        </div>

    </form>
</div>

<div class="modal fade" bsModal #writingRoleModal="bs-modal" [config]="{keyboard: true, ignoreBackdropClick:false}"
     tabindex="-1" role="dialog" aria-labelledby="myBigModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="writingRoleModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" [innerHTML]="initDatas.writingRole"></div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="writingRoleModal.hide()">Tutup</button>
      </div>
    </div>
  </div>
</div>