<ol class="breadcrumb">
	<li><a routerLink="/">Home</a></li>
	<li class="active">Daftar Berita</li>
</ol>

<form class="form-inline table-index-search pull-right">
	<label class="sr-only" for="inlineFormInput">Dari Tanggal</label>
	<div class="input-group">
		<input class="form-control" placeholder="Dari Tanggal" ngx-mydatepicker name="searchForm.start_date"
				[(ngModel)]="searchForm.start_date" [options]="myDatePickerOptions" #dp1="ngx-mydatepicker"/>
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" (click)="dp1.clearDate()">
				<i class="glyphicon glyphicon-remove"></i>
			</button>
			<button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
				<i class="glyphicon glyphicon-calendar"></i>
			</button>
		</span>
	</div>

	<label class="sr-only" for="inlineFormInput">Sampai Tanggal</label>
	<div class="input-group">
		<input class="form-control" placeholder="Sampai Tanggal" ngx-mydatepicker name="searchForm.end_date"
				[(ngModel)]="searchForm.end_date" [options]="myDatePickerOptions" #dp2="ngx-mydatepicker"/>
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" (click)="dp2.clearDate()">
				<i class="glyphicon glyphicon-remove"></i>
			</button>
			<button type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
				<i class="glyphicon glyphicon-calendar"></i>
			</button>
		</span>
	</div>

	<label class="sr-only" for="inlineFormInput">Kategori</label>
	<div class="input-group ng-select">
		<ng-select
				[options]="initDatas.newscategory_ids"
				placeholder="Kategori"
				name="searchForm.newscategory_id"
				[(ngModel)]="searchForm.newscategory_id">
		</ng-select>
	</div>
	
	<label class="sr-only" for="inlineFormInput">Judul</label>
  	<input type="text" class="form-control" [(ngModel)]="searchForm.title" name="searchForm.title" placeholder="Judul">

	<label class="sr-only" for="inlineFormInput">User</label>
	<div class="input-group ng-select">
		<ng-select
				[options]="initDatas.writers"
				placeholder="User"
				name="searchForm.writer"
				[(ngModel)]="searchForm.created_by">
		</ng-select>
	</div>

	<button type="button" (click)="searchData()" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Cari</button>
</form>
<div class="clearfix"></div>
<div *ngIf="domService.loadingData" id="loader-page">
	<div class="loader-page-inner">
		<img src="{{ configs.baseAsset }}assets/images/loader/watch.gif" />
		
		<span>Menunggu..</span>
	</div>
</div>

<div *ngIf="initDatas.errorLoad" class="text-center center-block">
	<p class="text-error">Gagal Memuat Data..</p>
	<button (click)="getNews()" type="button" class="btn btn-default">Refresh Ulang <i class="fa fa-refresh" aria-hidden="true"></i></button>
</div>

<div *ngIf="!domService.loadingData && !initDatas.errorLoad && pageNews">
	<div class="table-responsive">
		<table class="table table-hover table-index-data">
			<thead>
				<tr>
					<th class="sortable" (click)="sortData('title')">Judul <i *ngIf="table_sort_by_field === 'title' && table_sort_by_order === 'asc'" class="fa fa-chevron-down" aria-hidden="true"></i><i *ngIf="table_sort_by_field === 'title' && table_sort_by_order === 'desc'" class="fa fa-chevron-up" aria-hidden="true"></i></th>
					<th class="sortable" (click)="sortData('posted_at')">Tanggal <i *ngIf="table_sort_by_field === 'posted_at' && table_sort_by_order === 'asc'" class="fa fa-chevron-down" aria-hidden="true"></i><i *ngIf="table_sort_by_field === 'posted_at' && table_sort_by_order === 'desc'" class="fa fa-chevron-up" aria-hidden="true"></i></th>
					<th class="sortable" (click)="sortData('newscategory_id')">Kategori <i *ngIf="table_sort_by_field === 'newscategory_id' && table_sort_by_order === 'asc'" class="fa fa-chevron-down" aria-hidden="true"></i><i *ngIf="table_sort_by_field === 'newscategory_id' && table_sort_by_order === 'desc'" class="fa fa-chevron-up" aria-hidden="true"></i></th>
					<th>Gambar</th>
					<th class="sortable" (click)="sortData('created_by')">Penulis <i *ngIf="table_sort_by_field === 'created_by' && table_sort_by_order === 'asc'" class="fa fa-chevron-down" aria-hidden="true"></i><i *ngIf="table_sort_by_field === 'created_by' && table_sort_by_order === 'desc'" class="fa fa-chevron-up" aria-hidden="true"></i></th>
					<th class="sortable" (click)="sortData('status')">Status <i *ngIf="table_sort_by_field === 'status' && table_sort_by_order === 'asc'" class="fa fa-chevron-down" aria-hidden="true"></i><i *ngIf="table_sort_by_field === 'status' && table_sort_by_order === 'desc'" class="fa fa-chevron-up" aria-hidden="true"></i></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let data of pageNews.data ; let i = index">
					<td>{{ data.title }}</td>
					<td>{{ data.posted_at }}</td>
					<td>{{ data.newscategory.name }}</td>
					<td *ngIf="data.image_cover !== null"><img src="{{data.image_cover.small_url}}" class="img-responsive img-data"/></td>
					<td *ngIf="data.image_cover === null">-</td>
					<td>{{ data.writer.first_name }} {{ data.writer.last_name }}</td>
					<td>{{ data.status_text }}</td>
					<td>
						<div class="pull-right">
							<a class="btn btn-primary btn-sm edit-button" title="Lihat" (click)="showDetailNews(data.id)" ><i class="fa fa-search" aria-hidden="true"></i></a>&nbsp;
							<a class="btn btn-warning btn-sm show-button" [routerLink]="[ data.id, 'edit']" title="Ubah"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;
							<a class="btn btn-danger btn-sm show-button" (click)="deleteNews(data.id, data.title)" title="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<pagination [totalItems]="pageNews.total" [itemsPerPage]="pageNews.per_page" [(ngModel)]="currentPage" [boundaryLinks]="true" [rotate]="false" [maxSize]="10" (pageChanged)="pageChanged($event)"></pagination>
</div>


<div id="newsModal" class="modal fade" bsModal #newsModal="bs-modal" [config]="{keyboard: true, ignoreBackdropClick:false}"
     tabindex="-1" role="dialog" aria-labelledby="myBigModalLabel" aria-hidden="true" >
  <div *ngIf="!showNews" class="modal-dialog modal-lg" >
	  <div class="modal-content">
	  	<div class="modal-body"><p>Sedang Memuat...</p></div>
	  </div>
  </div>
  <div *ngIf="showNews" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Detail Berita</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="newsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <h3>{{ showNews.title }}</h3>
		  <h4 *ngIf="showNews.subheader !== '' ">{{ showNews.subheader }}</h4>
		  <p class="news-date">Di post pada : <strong>{{ showNews.posted_at }}</strong></p>
		  <p class="news-category">Kategori : <strong>{{ showNews.newscategory.name }}</strong></p>
		  <p class="news-status">Status : <strong>{{ showNews.status_text }}</strong></p>
		  <div *ngIf="showNews.images.length > 0" class="news-images">
			<ng-template [ngIf]="showNews.images.length === 1">
				<img class="img-responsive" src="{{ showNews.images[0].big_url }}" /> 
				<div *ngIf="showNews.images[0].image_caption !== ''" class="single-caption" [innerHTML]="showNews.images[0].image_caption"></div>
			</ng-template>
			<carousel *ngIf="showNews.images.length > 1" [interval]="false">
				<slide *ngFor="let image of showNews.images; let index=index">
					<img [src]="image.big_url" [alt]="image.image_caption">
					<div *ngIf="image.image_caption !== ''" class="carousel-caption" [innerHTML]="image.image_caption"></div>
				</slide>
			</carousel>
		  </div>
		  <div class="news-content" [innerHTML]="showNews.content"></div>
	  </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="newsModal.hide()">Tutup</button>
      </div>
    </div>
  </div>
</div>