#loader-page{
    margin-top: 50px;
}
#loader-page.fix{
    margin-top: 0;
    position: fixed;
}
#loader-page .loader-page-inner img{
    margin: auto;
    display: block;
}
#loader-page .loader-page-inner span{
    text-align: center;
    display: block;
}
.news-images{
    max-width: 715px;
    margin: auto;
}
.news-images .carousel{
    margin-left: 10%;
}
.carousel-caption {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
}
.uploader-errors li{
    color: #b71914;
    font-weight: bold;
}
.text-error{
    color: #b71914;
    font-weight: bold;
}
.operator-form .form-group{
    margin-bottom: 0px;
}
.operator-form .form-group label{
    font-size: 13px;
}
.margin-0{
    margin: 0!important;
}