<div id="wrapper" [class.toggled]="sidebarOpened" >
	<sidebar-wrapper [currentUrl]="currentUrl"></sidebar-wrapper>
		
	<nav id="main-navbar" class="navbar navbar-default">
		<div class="container-fluid">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
		  </div>
		  <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			  <li><a class="pointer menu-bar" (click)="toggleSidebar()" ><i class="fa fa-bars" aria-hidden="true"></i> <span>Menu</span></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			  <li class="dropdown" dropdown (isOpenChange)="toggled($event)">
				  <a href dropdownToggle (click)="false" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Akun<span class="caret"></span></a>
					<ul *dropdownMenu class="dropdown-menu">
					  <!--<li><a href="#">Setting</a></li>-->
					  <!--<li><a href="#">Statistik Pribadi</a></li>-->
					  <!--<li role="separator" class="divider"></li>-->
					  <li><a (click)="logOut()">Keluar</a></li>
					</ul>
			  </li>
			</ul>
		  </div>
		</div>
	</nav>

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</div>

</div>

<div id="saving-draft" *ngIf="domService.savingDraft">
	<p><i class="fa fa-spinner fa-spin fa-fw"></i> Sedang Menyimpan Draft</p>
</div>

<div id="saving-data-overlay" *ngIf="domService.savingData"></div>