<li *ngIf="roles">
	<accordion>
	  <accordion-group [ngClass]="'first'" #group1 [isOpen]="currentUrl === '/news' || currentUrl === '/news/create'">
		<div accordion-heading>
			<i class="icon-left fa fa-newspaper-o" aria-hidden="true"></i>
			<span>Berita</span>
			<i class="fa arrow icon-right" [ngClass]="{'fa-caret-down': group1?.isOpen, 'fa-caret-right': !group1?.isOpen}" aria-hidden="true"></i>
		</div>
		<a routerLink="/news/create" routerLinkActive="active">Tambah Baru</a>
		<a routerLink="/news" routerLinkActive="active" *ngIf="roleService.hasRole(roles, 'news.view')">Daftar Berita</a>
	  </accordion-group>
	</accordion>
</li>