<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a routerLink="/">
					An-Manage Beta
				</a>
			</li>
			<menu-accordion [currentUrl]="currentUrl"></menu-accordion>
		</ul>
	</div>