/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
	overflow-x: hidden;
}

.pointer{
	cursor: pointer;
}

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar{
	padding-left:0;
}
.menu-bar i{
	font-size: 20px;
	vertical-align: bottom;
}
.menu-bar span{
    font-size: 15px;
	padding-left: 3px;
}


#wrapper.toggled >>> #sidebar-wrapper {
    width: 250px;
}
/* accordion */
#wrapper >>> .panel-group .panel {
    border-radius: 0;
	border: 0;
	border-bottom: 1px solid #ddd;
	background-color: #000000;
}

#wrapper >>> .first > .panel-default {
	border-top: 1px solid #ddd;
}

#wrapper >>> .panel-default>.panel-heading {
    border-radius: 0;
	background-color: #000000;
	color: #fff;
	padding: 10px 5px;
}

#wrapper >>> .panel-default>.panel-heading .fa.arrow{
	float: right;
    padding-right: 5px;
}

#wrapper >>> .panel-default>.panel-collapse>.panel-body a{
    width: 100%;
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

#wrapper >>> .panel-default>.panel-collapse>.panel-body a:hover,
#wrapper >>> .panel-default>.panel-collapse>.panel-body a:active,
#wrapper >>> .panel-default>.panel-collapse>.panel-body a:visited,
#wrapper >>> .panel-default>.panel-collapse>.panel-body a:focus{
	text-decoration:none;
	color: #f5f5f5;
}

#saving-draft{
    position: fixed;
    top: 0px;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 12px;
    width: 90%;
    text-align: center;
}
#saving-draft >>> p{
    padding: 10px;
    background: #000;
    color: #fff;
    display: inline-block;
    font-size: 16px;
}
#saving-data-overlay{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0;
    left: 0;
    background: transparent;
}