.table-index-search{
    margin-bottom: 20px;
}
.table-index-search >>> .ng-select{
    width:200px;
}
.table-index-data >>> th >>> .fa-chevron-down,
.table-index-data >>> th >>> .fa-chevron-up{
    float: right;
}
.table-index-data >>> th.sortable{
    cursor: pointer;
}
.table-index-data >>> tr >>> td >>> .img-data{
    max-width: 100px;
}